.chat-container {
  max-width: 800px;
  margin: auto;
  padding-bottom: 120px;
}

.message {
  padding: 12px 16px;
  margin: 8px 0;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.user {
  background: #d1d5db;
  margin-left: auto;
  text-align: right;
}

.assistant {
  background:#FBF8CC;
  margin-right: auto;
  text-align: left;
}

.input-box {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
